.icons-sprite, .icons-ambulance-and-helicopter, .icons-ambulance, .icons-check, .icons-dollar-blue, .icons-dollar, .icons-email, .icons-gear-blue, .icons-gear, .icons-home-inverted-blue, .icons-home-inverted, .icons-logo-firemed, .icons-plastic-amex, .icons-plastic-discover, .icons-plastic-mastercard, .icons-plastic-visa, .icons-profile-blue, .icons-profile, .icons-question, .icon-dollar:hover, .icon-gear:hover, .icon-home-inverted:hover, .icon-profile:hover { background: url('../images/icons-s932af0b1f3.png') no-repeat; }

.icons-ambulance-and-helicopter { background-position: 0 -88px; }

.icons-ambulance { background-position: 0 -230px; }

.icons-check { background-position: 0 -564px; }

.icons-dollar-blue { background-position: 0 -540px; }

.icons-dollar { background-position: 0 -492px; }

.icons-email { background-position: 0 -316px; }

.icons-gear-blue { background-position: 0 -516px; }

.icons-gear { background-position: 0 -468px; }

.icons-home-inverted-blue { background-position: 0 -342px; }

.icons-home-inverted { background-position: 0 -394px; }

.icons-logo-firemed { background-position: 0 0; }

.icons-plastic-amex { background-position: 0 -131px; }

.icons-plastic-discover { background-position: 0 -197px; }

.icons-plastic-mastercard { background-position: 0 -164px; }

.icons-plastic-visa { background-position: 0 -284px; }

.icons-profile-blue { background-position: 0 -611px; }

.icons-profile { background-position: 0 -588px; }

.icons-question { background-position: 0 -446px; }

.icon-dollar:hover { background-position: 0 -540px; }

.icon-gear:hover { background-position: 0 -516px; }

.icon-home-inverted:hover { background-position: 0 -342px; }

.icon-profile:hover { background-position: 0 -611px; }
